---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      Jaeyoung Shin is a media artist who creates images using computer languages.

      He uses different types of information, like sound and human movement, to create new experiences and enjoyment.
      
      His work focused on the real-time aspect of interactive exhibits, VJing, AR filters which mostly come up in programming work.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        열심히 하겠습니다!! ♫꒰･‿･๑꒱  <a href="mailto:gamsasyo@gmail.com">gamsasyo@gmail.com</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        오봉우를 늘 사랑합니다. 우헤헤 우헤헤
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
        언제 놀러올꺼니 내 방에? ꒰•̫͡•ོ꒱
      </p>
    </div>
  </div>

</section>
